<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <link href="ISIWEB4Shop\Contente\css\bootstrap.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ISIWEB4SHOP</title>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <p class='navbar-brand'> ISIWEB4Shop </p>
            </div>

            <ul class="nav navbar-nav navbar-right">
                <li><p class="navbar-text"> <span class="glyphicon glyphicon-user"> </span> <!--LIENS ICONE--> </p></li>
                <li><p class="navbar-text"> <span class="glyphicon glyphicon-log-in"> </span> </p></li>
                <li><p class="navbar-text"> <span class="glyphicon glyphicon-log-in"> </span> </p></li> <!--Metttre le nombre d'article en badge pour le panier-->
            </ul>
        </div>
    </div>
    <nav class="vertical-menu">
        <!-- Liens categ-->
    </nav>
    <div class="container body-content">
        <!-- LIENS PAGE FILLE -->
        <hr />
        <footer>
            <p><!--Date aujd --> - ISIWEB4Shop</p>
        </footer>
    </div>
</body>
</html>
